* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    text-transform: capitalize;
    color: #588b8b;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    ;
}

button {
    padding: 10px 30px;
    border: 1px solid #588b8b;
    background-color: red;
    color: white;
    cursor: pointer;
    margin: 10px 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    transition: all 1s ease;
}

button:hover {
    padding: 10px 30px;
    border: 1px solid #588b8b;
    background-color: white;
    color: red;
}











header {
    width: 100%;
    height: 5rem;
    background-color: black;
}

header .container {
    position: fixed;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1;
}


header .container .logo h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    padding: 0;
    color: hsl(19, 100%, 60%);

}

header .container .logo h1:hover {
    color: hsl(19, 100%, 90%);
}

header .container .links {
    display: flex;
    align-items: center;
}

header .container .links ul {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

header .container .links li {
    transition: 0.5s;
}


header .container .links li:hover {
    padding-bottom: 10px;
    border-bottom: 1px solid #FBe0c3;
}

header .container .links ul li a {
    cursor: pointer;
    font-size: 25px;
    transition: 1s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header .container .links ul li a:hover {
    color: hsl(19, 100%, 60%)
}

.background {
    background-color: black;
}

.courses {
    margin-top: 0px;
    background-color: #006989;
}

.courses .courses-text {
    text-align: center;
    margin: 0 auto;
    padding: 60px 0;
    color: #f1e0c5;
}

.courses .courses-text h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: #eaebed;
    line-height: 1.7;
}

.courses .courses-text p {
    font-size: 20px;
    color: #eaebed;
}

.courses .container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 10px;
    width: 70%;
}

.courses img {
    width: 90%;

}

.courses .art {
    text-align: center;
    padding: 20px 0;
    margin: 30px 20px;
    background-color: #eaebed;
    border: 1px solid #006989;
    transition: all 0.5s ease-in-out;
}

.courses .art:hover {
    box-shadow: 30px 10px 10px 5px #2b2d42;
}

.courses .art__mid {
    position: relative;
    top: -2rem;
}

.courses .art-text h3 {
    color: #006989;
}

.courses .art-text p {
    color: #006989;
}



.payment {
    margin-top: 40px;
    background-color: #2b2d42;
    padding: 40px 0;
}

.payment .text {
    margin: 0 auto;
    text-align: center;
}

.payment .text h1 {
    color: hsl(31, 88%, 67%);
    font-size: 45px;
    padding-bottom: 20px;
}

.payment .text p {
    padding-bottom: 50px;
    font-size: 30px;
}

.payment .container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    gap: 100px;
}

.payment .pay {
    background-color: hsl(31, 88%, 70%);
    padding: 60px 60px;
    border-radius: 36px;
    transition: 1s;
}

.pay:hover {
    box-shadow: 4px 0 1px 1px white;
}

.pay h2 {
    padding: 10px 0;
    font-size: 40px;
}

.pay span {
    display: list-item;
    align-items: center;
    text-align: center;
    justify-content: start;
    font-size: 30px;
    padding: 10px 0;
}

.pay p {
    padding-bottom: 20px;
    font-size: 30px;
    border-bottom: 1px solid white;
}

.payment h2 {
    color: white;
}

.payment p {
    color: white;

}

.payment .pay__mid {
    position: relative;
    top: -2rem;

}

.pay button {
    color: hsl(31, 88%, 67%);
    background-color: white;
    font-size: 30px;
    padding: 20px 40px;
}

.pay button:hover {
    color: white;
    background-color: hsl(31, 88%, 67%);
}


footer {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    background-color: hsl(235, 21%, 15%);
    border-top: 1px solid white;
    margin-top: 2px;

}

footer .container {
    padding: 0px 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    width: 100%;
    height: 220px;
}

footer .left {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
}

footer .left h3 {
    color: white;
    font-weight: 900;
    font-size: 15px;
}

footer .left h3 span {
    color: white;
}

footer .left ul li {
    padding: 5px 0;
    margin-bottom: 10px;
}

footer .left ul li span {
    justify-content: center;
    display: flex;
    font-size: 15px;
    padding-right: 5px;
    color: white;
    width: 100%;
    height: 10px;

}

footer .left ul li a {
    color: black;
    font-size: 10px;
    color: white;
}

footer .mid {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer .mid h3 {
    font-size: 15px;
    font-weight: 900;
    color: white;
}

footer .mid p {
    font-size: 10px;
    padding-top: 0px;
    line-height: 2rem;
    font-weight: 400;
    color: white;
}

footer .midd {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
}

footer .midd h3 {
    font-size: 15px;
    padding-bottom: 0px;
    font-weight: 900;
    color: white;
}

footer .midd h3 span {
    color: white;
}

footer .midd p {
    line-height: 2rem;
    font-size: 15px;
    font-weight: 400;
    padding: 0px 0;
    color: white;
}

footer .right .rightt {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
}

footer .right h1 {
    color: white;
    font-size: 15px;
}

footer .right p {
    font-size: 10px;
    color: white;
}

footer p {
    color: black;
}

footer .cont img {
    width: 36px;
    height: 36px;
    border-radius: 50%;

}